<!--div id="page-wrapper" class="5grid-layout">
  <div id="featured" class="5grid-layout">
    <div class="titlebg">
      <h2>Lorem Ipsum</h2>
    </div>
    <div class="row">
      <div class="3u">
        <section>
          <p><a href="#"><img src="" alt=""></a></p>
          <p></p>
        </section>
      </div>
      <div class="3u">
        <section>
          <p><a href="#"><img src="" alt=""></a></p>
          <p></p>
        </section>
      </div>
      <div class="3u">
        <section>
          <p><a href="#"><img src="" alt=""></a></p>
          <p></p>
        </section>
      </div>
      <div class="3u">
        <section>
          <p><a href="#"><img src="" alt=""></a></p>
          <p></p>
        </section>
      </div>
    </div>
  </div-->
  <div class="one">
  <div  style="float:left">
  <h2><b>Get In Touch</b></h2>
  <P>We are looking forward to your feed back</p>
    <h4><strong>E-mail:<a href="mailto:zenergy@gmail.com">zenergy@gmail.com</a></h4></strong>
    <h2><b>Address:</b></h2><br><p>73B jinnah street rustam park,Lahore 54000, Punjab.</p>
    <h4><b>Telephone:</b></h4><p>+92 42 03214761001</p>
</div>
<div>
  <br><br><br><br><br>
  <h4><b>Share your thoughts</b></h4>
<input style="border-radius:120px;" type="text" placeholder="  Name"></input><br><br>
<input style="border-radius:120px;" type="text" placeholder="  Email"></input><br><br>
<input style="border-radius:120px;" type="text" placeholder="  phone"></input><br><br>
<input style="border-radius:120px;width:300px;height:65px;" type="text" placeholder="  Message"></input><br><br>
<input style="left: 545px;border-radius: 5px;position: relative;color:blue;float:left" type="button" Value="submit" align="right"></input>
</div>
</div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1700.1761249347815!2d74.26701990075372!3d31.54194615577434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391903485547167f%3A0x5513ee13f624bb8a!2sRehman+Store!5e0!3m2!1sen!2s!4v1489669846627" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  <!--div class="5grid-layout">
    <div class="row">
      <div class="6u">
        <div class="titlebg">
          <h2>Three Column</h2>
        </div>
        <div id="content">
          <section>
            <div class="post">
              <h2></h2>
              <p></p>
              <p>&nbsp;</p>
              <p>.</p>
              <p>&nbsp;</p>
              <p></p>
            </div>
          </section>
        </div>
      </div-->
      <!--div class="3u" id="sidebar1">
        <section>
          <h2>sidebar 1</h2>
          <ul class="style1">
            <li><a href="#">Maecenas lectus sapien</a></li>
            <li><a href="#">Etiam rhoncus volutpat </a></li>
            <li><a href="#">Donec dictum in sapien</a></li>
            <li><a href="#">Integer gravida quis urna</a></li>
            <li><a href="#">Etiam posuere amet nisl</a></li>
            <li><a href="#">Mauris vulputate amet </a></li>
            <li><a href="#">Nulla luctus eleifend </a></li>
          </ul>
        </section>
        <section>
          <h2>sidebar 1</h2>
          <ul class="style1">
            <li><a href="#">Maecenas lectus sapien</a></li>
            <li><a href="#">Etiam rhoncus volutpat </a></li>
            <li><a href="#">Donec dictum in sapien</a></li>
            <li><a href="#">Integer gravida quis urna</a></li>
            <li><a href="#">Etiam posuere amet nisl</a></li>
            <li><a href="#">Mauris vulputate amet </a></li>
            <li><a href="#">Nulla luctus eleifend </a></li>
          </ul>
        </section>
      </div>
      <div class="3u">
        <div id="sidebar2">
          <section>
            <div class="sbox1">
              <h2>sidebar 2</h2>
              <ul class="style1">
                <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                <li><a href="#">Etiam rhoncus volutpat erat</a></li>
                <li><a href="#">Donec dictum metus in sapien</a></li>
                <li><a href="#">Integer gravida nibh quis urna</a></li>
                <li><a href="#">Etiam posuere augue sit amet nisl</a></li>
                <li><a href="#">Mauris vulputate dolor sit amet nibh</a></li>
                <li><a href="#">Nulla luctus eleifend purus</a></li>
              </ul>
            </div>
            <div class="sbox2">
              <h2>Maecenas lectus</h2>
              <ul class="style1">
                <li><a href="#">Maecenas luctus lectus at sapien</a></li>
                <li><a href="#">Etiam rhoncus volutpat erat</a></li>
                <li><a href="#">Donec dictum metus in sapien</a></li>
                <li><a href="#">Integer gravida nibh quis urna</a></li>
                <li><a href="#">Etiam posuere augue sit amet nisl</a></li>
                <li><a href="#">Mauris vulputate dolor sit amet nibh</a></li>
                <li><a href="#">Nulla luctus eleifend purus</a></li>
              </ul>
            </div>
          </section-->
        </div>
      </div>
    </div>
  </div>
</div>
